body {
    background-color: black;
    font-family: "DM Sans", sans-serif;
}

.sidebar {
    position: fixed; /*determina que o elemento ficará fixo na página*/
    top: 0; /*deixa o elemento no topo*/
    left: 0; /*deixa o elemento na lateral*/
    bottom: 0; /*deixa o elemento no fundo*/
    padding: 12px; /*espaçamento*/
    width: 300px; /*largura*/
}

.sidebar_navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
}

.sidebar_navigation span {
    margin-right: 8px;
}

.logo {
    display: flex;
    margin-bottom: 24px;
}

.logo img {
    width: 90px;
}

.sidebar li {
    margin-top: 16px;
    font-size: 16px;
}

.sidebar nav ul a {
    color: #b3b3b3;
    text-decoration: none; /*remove a bolinha da lista*/
    font-weight: 600; /*peso da fonte*/
}

.biblioteca {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px;
}

.biblioteca a {
    color: #b3b3b3;
    text-decoration: none; /*remove a bolinha da lista*/
    font-weight: 600; /*peso da fonte*/
}

.biblioteca_topo {
    display: flex; /*transforma o elementos em container flexível*/
    justify-content: space-between; /*empurra um elemento para a esquerda e o outro para a direita*/
    margin-bottom: 24px;
}

.biblioteca_topo span {
    margin-right: 8px;
}

.biblioteca_crie {
    background-color: #242424;
    border-radius: 8px;
    padding: 16px;
    color: #fff;
}

.title {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 14px;
}

.subtitle {
    margin-bottom: 16px;
    font-weight: 300;
    font-size: 14px;
}

.botao {
    margin: 32px 0 8px 0;
}

.botao a {
    background-color: #fff;
    border-radius: 32px;
    padding: 8px 16px;
}

.botao span {
    color: #242424;
    font-weight: 600;
    font-size: 14px;
}

.cookies {
    margin: 32px;
}

.cookies a {
    font-size: 12px;
    font-weight: 300;
}

.idioma {
    margin: 40px 0px 8px 0px;
}

.idioma a {
    background-color: #121212;
    border-radius: 32px;
    padding: 8px 16px;
    border: 2px solid #b3b3b3;
}

.idioma span {
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
}

.fa {
    font-size: 20px;
}